@import "tailwindcss";



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  color: #000;
  background-color: #fff;
}

/*-------------------*/


@layer utilities{
  nav ul li {
    @apply relative pb-0
  }
  nav ul li:hover::before{
    @apply w-[100%]
  }
  .active-h::before{
    @apply w-[100%];
  }
  nav ul li::before {
    @apply  content-[""] h-0.5  bg-blue-900 -bottom-1 duration-150 w-[0%] absolute
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn .6s ease;
}

/* globals.css */
img.icon {
  width: 42px; /* Largeur souhaitée */
  height: 42px; /* Hauteur souhaitée */
}