@import "tailwindcss";




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  color: #000;
  background-color: #xfff;
  font-family: "Segoe UI", serif;
}

/*-------------------*/


@layer utilities{
  nav ul li {
    @apply relative pb-0
  }
  nav ul li:hover::before{
    @apply w-[100%]
  }
  .active-h::before{
    @apply w-[100%];
  }
  nav ul li::before {
    @apply  content-[""] h-0.5  bg-blue-900 -bottom-1 duration-150 w-[0%] absolute
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn .6s ease;
}

/* globals.css */
img.icon {
  width: 42px; /* Largeur souhaitée */
  height: 42px; /* Hauteur souhaitée */
}